{% extends 'liv/base.html' %}
{% block content %}
    {% for book in list_of_books %}
        {% if book.actualbook_set.all %}
            <h1>{{ book.title}}</h1>
            <ul>
                {% for lib in book.actualbook_set.all %}
                    <li>{{ lib.title }}</li>
                    <ul>
                        <li>{{ lib.author }}</li>
                        <li>{{ lib.notes }}</li>
                    </ul>
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
{% endblock %}