this is tt page
<br>

<a href="{% url 'liv:addauthors' %}">Add Authors</a>
<br><br>
<a href="{% url 'liv:addgenres' %}">Add Genres</a>
<br><br>
<a href="{% url 'liv:addbooks' %}">Add Books</a>
<br><br>
<a href="{% url 'liv:addactualbooks' %}">Add Actual Books</a>
<br><br>
<a href="{% url 'liv:getting_books' %}">geeting_books</a>
<br><br>
<a href="{% url 'liv:close_up' %}">close_up</a>
<br><br>

{{ user.username }}
it is a user.link - {{ user.profile.link }}

{% for book in user.bookfromlivelib_set.all %}
<ul>
    {% for b in book.actualbook_set.all %}
    <li>{{ b.title }} {{ b.author }} {{ b.notes }}</li>
    {% endfor %}
</ul>
{% endfor %}


<ul>
    {% for book in user.bookfromlivelib_set.all %}
    <li>{{ book.author }}</li>
    {% endfor %}
</ul>

<ul>
    {% for book in user.bookfromlivelib_set.all %}
    <li>{{ book.title }}</li>
    {% endfor %}
</ul>

